{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <title>Fabelio</title>

        <style type="text/css">
            #grid-container2 {
                padding-top: 6%;
                display: grid;
                grid-template-columns: 40% 60%;
                grid-gap: 10px;
                background-color: rgba(0,0,0,0);
            }
        </style>
    </head>
    <body class="landing">
        <div>
            <div id="navbar-base">
                {% include 'reusable-pages/navbar-base.html' %}
            </div>

            <div>
                <form action="/" method="post" style="margin-top: 2%">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="search item">
                </form> 

                <div style="margin:1%" id="grid-container2">
                    <div style="padding-left: 20%; padding-top: 5%">
                    {% if items == null%}
                        <h2>Item Not Found</h2>
                    </div>
                    {% else %}
                        <p>
                            <h2 style="margin:0px">{{ items.0 }}</h2>
                            <h4 style="margin:0px">{{ items.1 }}</h4><br/>
                            dimension : {{ items.2 }}<br/>
                            colors &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ items.3 }}<br/>
                            material &nbsp;&nbsp;&nbsp;&nbsp;: {{ items.4 }}<br/>
                        </p>
                    </div>

                    <div style="text-align: center;vertical-align: middle;">
                        <img src={{ items.5 }} alt="image" style="width:80%;height:80%;"> 
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
