{% load static %}


{% block navbar-base %}
    <nav>
      </button>
        <div>
            <a href="https://www.fabelio.com/">
				<img src="https://rec-data.kalibrr.com/www.kalibrr.com/logos/89KXHAYRUVDWVU999MWGWR5TBKP33ZEFXQ888KYE-5da8452c.png" alt="Fabelio" style="width:12%;height:12%;">
			</a> 
        </div>
    </nav>
{% endblock %}